.TaskbarIconWrapper {
    height: 50px;
    width: 52px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border-radius: 12px;
    text-align: center;
    position: relative;
}

.Icon {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.tooltipText {
    height: 19px;
    width: 50px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
}

.tooltip {
    width: 100px;
}

.TaskbarIconWrapper:hover {

    height: 50px;
    width: 52px;
    border-radius: 12px;
    background-color: #7C95F3;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.TaskbarIconWrapperClicked {

    height: 50px;
    width: 52px;
    border-radius: 12px;
    background-color: #7C95F3;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}