.PageTitle {
    position: absolute;
    margin: 0;
    top: 6%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.Title {
    position: relative;
    height: 25px;
    width: 250px;
    color: #5B5E60;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
}

.UserLine {
    position: relative;
    box-sizing: border-box;
    height: 1px;
    width: 1103px;
    border: 1px solid #5B5E60;
    margin-top: 2px;
    background-color: #5B5E60;
}