.EmployeesWrapper {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-right: 10px;
}

.ImageWrapper {
    margin-right: 4px;
}
.EmployeesType{
    display: flex;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:100px;
}